@{
    Layout = "~/Views/Shared/_Layout_User.cshtml";
    var order = ViewBag.order;
    PayCartOnline.Models.CheckUser isCheck = Session["Account"] != null ? (PayCartOnline.Models.CheckUser)Session["Account"] : null;

}

    <div class="all_noidung_admin">
        <div class="box_giaodien_doanhnghiep">
            <div class="container content-pay">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                        <div class="box_info_doanhnghiep">
                            <div class="img_thumb_info_doanhnghiep"><img style="width: 100%; height: 80px;" src="https://vtcpay.vn/Content/images/df_avt.png" alt=""></div>
                            <div class="text_info_doanhnghiep">
                                @isCheck.Phone
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                        <ul class="box_all_tien_doanhnghiep">
                            <li><em>Số đơn hàng</em></li>
                            <li><a href="/Home/Index">Giao diện mua hàng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="box_noidung_thongtin_admin">
            <div class="container content-pay">
                <h4 class="text_tieude_all_doanhnghiep">CHI TIẾT ĐƠN HÀNG @order.Code_Order</h4>
                <ul class="table-subicon">
                    <li><a href="/User/ExportExcel/@order.Id_order"> <img src="https://vtcpay.vn/Content/images/excel.png"></a></li>
                    <li><a > <img src="https://vtcpay.vn/Content/images/PDF.png"></a></li>
                    <li><a OnClick = "return PrintPanel();"> <img src="https://vtcpay.vn/Content/images/print.png"></a></li>
                </ul>
                <table id="print" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Mã Đơn hàng</th>
                            <th>Số Điện Thoại</th>
                            <th>Nhà Mạng</th>
                            <th>Mệnh Giá</th>
                            <th>Thể Loại Thẻ</th>
                            <th>Phương Thức Thanh Toán</th>
                            <th>Ngân Hàng</th>
                            <th>Ngày Thanh Toán</th>                     
                        </tr>
                    </thead>
                    <tbody>
                        <tr>                       
                            <td>@order.Code_Order</td>
                            <td>@order.Phone </td>
                            <td>@order.Brand</td>
                            <td>@order.Price</td>
                            <td>@order.CardType</td>
                            <td>VNPAY</td>
                            <td>@order.BankCode</td>
                            <td>@order.Create_At</td>                     
                        </tr>
                    </tbody>
                </table>
                <div id="TransactionHistoryPartial"></div>
                <div id="TransactionHistoryListCard"></div>
            </div>
        </div>
        <div id="PopupTransactionHistoryDetail"></div>
        <link href="https://vtcpay.vn/Content/js/lib/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
        <script src="https://vtcpay.vn/Content/js/lib/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    </div>


